/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
.button{
    -fx-border-width: 0.5px;
    -fx-border-color: #ACACAC;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-background-color: white;
    -fx-font-size: 12px; 
    -fx-padding: 8px 25px;
    -fx-font-weight:700;
    -fx-font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.button:hover{
    -fx-background-color: #EA5444;
    -fx-text-fill: white;

}
.button:focused{
   -fx-border-width: 0.5px;
    -fx-border-color: #ACACAC;
   -fx-border-radius: 50px;
/*    -fx-background-radius: 50px;
    -fx-background-color: white;
    -fx-font-size: 12px; 
    -fx-padding: 8px 25px;
    -fx-font-weight:700;
    -fx-font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;*/
}
.button:pressed{
    -fx-background-color: #EA5444;
    -fx-text-fill: white;
}
#btnRefresh{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 15px; 
    -fx-padding: 0px;
    -fx-background-image: url("../icon/refreshOne32.png");
/*    -fx-background-size: cover;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;*/
}
#btnRefresh:hover{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 15px; 
    -fx-padding: 0px;
    -fx-background-image: url("../icon/refreshTwo32.png");
    -fx-cursor: hand;
}
#btnRefresh:pressed{
    -fx-rotate: 100;
    transition-delay: 5s;
}
}
