/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-image: url('../icons/back.jpg');
    -fx-background-size: cover;

}
.root{
    -fx-background-image: url('../icons/back.jpg');
    -fx-background-size: cover;
}
.glyph-icon{ -fx-font-family:"Material Design Icons"; }

.glyph-icon{ -fx-font-family:"FontAwesome"; }